<!-- <footer class="footer">

    <div class="contenedor_footer">
        <ul class="contacto">
            <p class="resaltado">Contacto</p>
            <li class="icono"><i class="fa-brands fa-whatsapp"></i>+54 9 1167309300</li>
            <li class="icono"><i class="fa-sharp fa-solid fa-phone"></i>011 67309300</li>
            <li class="icono"><i class="fa-regular fa-envelope"></i> contacto@siemprelimpio.com</li>
            <li class="icono"><i class="fa-solid fa-location-dot"></i>Emilio Frugone 4225, Bs. As.</li>
        </ul>
        <div class="wrapper">
            <div class="ico wa">
                <div class="tooltip">
                   sdadsadasdasd
                </div>
                <span><i class="fab fa-facebook-f"></i></span>
             </div>
            
         <div class="ico facebook">
            <div class="tooltip">
               Facebook
            </div>
            <span><i class="fab fa-facebook-f"></i></span>
         </div>
         <div class="ico twitter">
            <div class="tooltip">
               Twitter
            </div>
            <span><i class="fab fa-twitter"></i></span>
         </div>
         <div class="ico instagram">
            <div class="tooltip">
               Instagram
            </div>
            <span><i class="fab fa-instagram"></i></span>
         </div>
         
     
        </div>
        
        <div id="arrepentimiento">
           
            <a href="#">Cancelar una compra</a>
        </div>
        <section id="suscripcion">
            <h2 id="titulo_suscripcion">¡Suscribite para recibir noticias sobre nuestras
                próximas ofertas!</h2>
            <form class="formulario_suscripcion">
                <input id="formulario_suscripcion_input" type="email" id="email" name="email"
                    placeholder="Ingresá tu email">
            </form>
        </section>
    </div>
    <div id="legales">
        <p>Copyright 2023 ©Siempre Limpio. Todos los derechos reservados.
            <a href="#">Términos y condiciones del servicio </a>| Para reclamos a Defensa de las y los Consumidores
            <a href="#">ingrese aquí.</a>
        </p>
    </div>
</footer> -->

<footer class="footer-section">
    <div class="row">
      
    </div>
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                             <h4>Encontranos</h4> 
                            <span>Calle Falsa 123, Buenos Aires</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                             <h4>Llamanos</h4> 
                            <span>+54 9 011 1234 5678</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Envianos un email</h4> 
                            <span>consultas@siemprelimpio.com.ar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="/"><img src="/images/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>El sitio web de Siempre Limpio está diseñado para satisfacer las necesidades de un público diverso, que busca soluciones eficientes y productos especializados para mantener sus espacios limpios y ordenados.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Seguinos en las redes</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><svg viewBox="0 0 448 512" width="42px" height="42px">
                                <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"></path>
                              </svg>
                              </a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Recibí las mejores ofertas</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>¡Suscribite a nuestro newsletter!, recibí las mejores ofertas y descuentos dejando tu email debajo.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Direccion email">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright 2024 ©Siempre Limpio. Todos los derechos reservados | Términos y Condiciones del Servicio | Defensa de las y los Consumidores para reclamos ingrese aqui </p>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</footer>